<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<bean id="bar" class="foo.Bar" init-method="init">
<property name="test" value="test"></property>
</bean>

<bean id="epp" class="com.abu.EmployeeBeanProcessor"></bean>
<bean id="testBean" class="TestClass">  

       <!-- <property name="name"> 
           <value>Setter</value> 
       </property>  -->
          <constructor-arg> 
           <value>Constructor</value> 
       </constructor-arg> 
        
 </bean> 
</beans>

	